/* GENERAL */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

table tr {
  border: 0.5rem solid white;
  text-align: left;
}

table th {
  padding: 0.5rem;
  background-color: gray;
  color: white;
}

table th:first-child {
  padding-left: 3rem;
}

table td {
  max-width: 10rem;
  padding: 0.5rem;
  background-color: rgba(230, 230, 250, 0.7);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

table td:not(:first-child) {
  color: gray;
}

/* BUTTONS */
.notes-table--buttons,
.notes-table-row--buttons,
.archive-table td:last-child {
  text-align: right;
}

.notes-table--buttons > button,
.notes-table-row--buttons > button {
  margin-left: 0.5rem;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}

.notes-table-row--buttons > button {
  color: gray;
}

.archive-table-row--unarchive {
  padding-inline: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/* OTHERS */
.summary-table {
  margin-top: 2rem;
}

.archive-table {
  width: 70%;
}

.notes-table-row--name-wrapper,
.summary-table-row--note-category-wrapper,
.archive-table-row--name-wrapper {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.notes-table-row--name-wrapper .icon,
.summary-table-row--note-category-wrapper .icon,
.archive-table-row--name-wrapper .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border-radius: 100rem;
  background-color: gray;
  color: white;
}

.notes-table-row--name-wrapper .name,
.summary-table-row--note-category-wrapper .name,
.archive-table-row--name-wrapper .name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
